*{
    background-color: rgb(0, 0, 0);
    color: #2a6d7e    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

h1{
    text-align: center;
    font-size: 50px;
}

h2{
    text-align: center;
    font-size: 35px;
}

  .flex-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(19, 110, 201, 0.712);
  }
  
  .flex-container > div {
    background-color: #1f1d1dcb;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  /* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }